@font-face {
  font-family: "NotoSansThaiRedular";
  src: local("NotoSansThaiRedular"),
    url("../../../fonts/NotoSansThai/NotoSansThai_SemiCondensed-Regular.ttf")
      format("truetype");
  font-weight: bold;
}

.pageLaout {
  width: 738px;
  height: 1054px;
  font-size: 10px;
  font-family: "NotoSansThaiRedular";
}

.textNormal {
  font-family: "NotoSansThaiRedular";
  color:rgb(51 65 85);
  font-size: 10px;
  line-height: 12px;
}

.textNormalBold {
  font-family: "NotoSansThaiRedular";
  color: black;
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
}

.textNormalBold16 {
  font-family: "NotoSansThaiRedular";
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 12px;
}
